<section id="ManagmentData">
  <h1 style="margin: auto; width: 40%; color: white; padding-top: 10px">
    SHOW LIST OF TASKS
  </h1>

  <div id="ManagmentDataDesignation">
    <h3 id="TaskDesc">Task Description</h3>
    <h3 id="TaskPriority">Priority</h3>
    <h3 id="TaskResponsible">Responsible</h3>
    <h3 id="TaskStartDate">Start Date</h3>
    <h3 id="TaskFinishDate">Finish Date</h3>
    <h3 id="TaskProgress">Task Progress %</h3>
    <h3 id="TaskStatus">Status</h3>
  </div>

  <div id="TaskDesignation1">
    <h3 id="TaskDescOne">Create the Login Form</h3>

    <select name="Choice" id="Choice-select">
      <option value="High">High</option>
      <option value="Meduim">Meduim</option>
      <option value="Low">Low</option>
    </select>

    <h3 id="TaskResponsibleOne">Haykel Lachiheb</h3>

    <input type="date" id="StartDate" name="StartDate" />

    <input type="date" id="FinishDate" name="FinishDate" />

    <h3 id="TaskProgressOne">85%</h3>

    <select name="Choice" id="Choice-select">
      <option value="InProgress">In Progress</option>
      <option value="Done">Done</option>
      <option value="OffTrack">Off Track</option>
    </select>
  </div>

  <div id="TaskDesignation1">
    <h3 id="TaskDescOne">Create the Login Form</h3>

    <select name="Choice" id="Choice-select">
      <option value="High">High</option>
      <option value="Meduim">Meduim</option>
      <option value="Low">Low</option>
    </select>

    <h3 id="TaskResponsibleOne">Haykel Lachiheb</h3>

    <input type="date" id="StartDate" name="StartDate" />

    <input type="date" id="FinishDate" name="FinishDate" />

    <h3 id="TaskProgressOne">85%</h3>

    <select name="Choice" id="Choice-select">
      <option value="InProgress">In Progress</option>
      <option value="Done">Done</option>
      <option value="OffTrack">Off Track</option>
    </select>
  </div>

  <div id="TaskDesignation1">
    <h3 id="TaskDescOne">Create the Login Form</h3>

    <select name="Choice" id="Choice-select">
      <option value="High">High</option>
      <option value="Meduim">Meduim</option>
      <option value="Low">Low</option>
    </select>

    <h3 id="TaskResponsibleOne">Haykel Lachiheb</h3>

    <input type="date" id="StartDate" name="StartDate" />

    <input type="date" id="FinishDate" name="FinishDate" />

    <h3 id="TaskProgressOne">85%</h3>

    <select name="Choice" id="Choice-select">
      <option value="InProgress">In Progress</option>
      <option value="Done">Done</option>
      <option value="OffTrack">Off Track</option>
    </select>
  </div>

  <div id="TaskDesignation1">
    <h3 id="TaskDescOne">Create the Login Form</h3>

    <select name="Choice" id="Choice-select">
      <option value="High">High</option>
      <option value="Meduim">Meduim</option>
      <option value="Low">Low</option>
    </select>

    <h3 id="TaskResponsibleOne">Haykel Lachiheb</h3>

    <input type="date" id="StartDate" name="StartDate" />

    <input type="date" id="FinishDate" name="FinishDate" />

    <h3 id="TaskProgressOne">85%</h3>

    <select name="Choice" id="Choice-select">
      <option value="InProgress">In Progress</option>
      <option value="Done">Done</option>
      <option value="OffTrack">Off Track</option>
    </select>
  </div>

  <div id="TaskDesignation1">
    <h3 id="TaskDescOne">Create the Login Form</h3>

    <select name="Choice" id="Choice-select">
      <option value="High">High</option>
      <option value="Meduim">Meduim</option>
      <option value="Low">Low</option>
    </select>

    <h3 id="TaskResponsibleOne">Haykel Lachiheb</h3>

    <input type="date" id="StartDate" name="StartDate" />

    <input type="date" id="FinishDate" name="FinishDate" />

    <h3 id="TaskProgressOne">85%</h3>

    <select name="Choice" id="Choice-select">
      <option value="InProgress">In Progress</option>
      <option value="Done">Done</option>
      <option value="OffTrack">Off Track</option>
    </select>
  </div>
</section>
