{% load static %}

<DOCTYPE html id="MyDoc">
    <html lang="fr">
        <head>
            <meta charset="UTF-8" />
            <title>Login</title>
      
            <link href="{% static 'css/PhasesCompleted.css' %}" rel="stylesheet" />
           
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
         
          </head>
    
    
    


    <body id="MyBody"  onload="myFunctionBody()" onunload="myFunctionBody2()">

        {% block content %}

        <section id="ProjectDetails">

            <h3 id="DashboardTitle">Phases % Completed
            </h3>
            <div id="DashboardLogo">

                <i id="icon" class="fas fa-cubes fa-2x me-3" style="color: #ff6219;" ></i>
                <span class="h1 fw-bold mb-0" style="color: white;">ChronoPlan</span>
            </div>
            <div id="DashboardText">

                <h3 id="DashboardTitle2">
                   
                    

                    <iframe name="date du jour" id="date-du-jour" style="width:150px;height:250px; font-family: cursive;" src="https://www.mathieuweb.fr/calendrier/date-jour-bleu.html" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    
                    
                </h3>
            </div>

            <div id="WelcomeLogo" style="width:400px;cursor:pointer;" onclick="window.location.href='{% url 'main' %}'" >
                <i id="iconWelcome" class="fa-solid fa-reply" style="color: white;"></i>
                <h1 id="WelcomeText" style="color:white;font-weight: bold;padding-left: 5px;text-success:white"class="text-success">Bach To Main |</h1>

            </div>

            <div id="WelcomeLogo" style="width:500px">
                <i id="iconWelcome" class="fa-regular fa-hand" style="color: white;"></i>
                <h1 id="WelcomeText" style="color: white;font-weight: bold;padding-left: 5px;"class="text-success">Welcome, {{user.username}} |</h1>

            </div>
            
            
            <div id="LogIn" id="ProjectData2" onclick="window.location.href='{% url 'logout' %}'" style="cursor: pointer;width:200px;display:flex;justify-content:space-between;margin-top:15px">
                <i id="iconLogout" style="color: white;padding-top: 2px;" class="fa-solid fa-right-to-bracket"></i>
                <h1 id="Text" style="color: red; width: 90px;height: 50px;font-size: 20px;font-family: cursive;padding-left: 5px;font-weight: bold;" >Log Out</h1>


            





            <div></div>



 
        </section>

        <section id="ProjectData">

           <h3 id="HeaderLeft">Project Phases</h3>

            <div id="Container">

                <div id="Phase1">
                    
                    <div id="Phase1_Overlay" style="width: 100%;height: 0%;">
                                <h3>1</h3>
                                <h6>
                                   {{value}} 


                                </h6>
                    </div>
                </div>
                <div id="Phase2">
                    <div id="Phase2_Overlay" style="width: 100%;height: 0%;">
                        <h3>2</h3>
                        <h6>50%</h6>

                    </div>
                </div>
                <div id="Phase3">
                    <div id="Phase3_Overlay" style="width: 100%;height: 0%;">
                        <h3>3</h3>
                        <h6>30%</h6>

                    </div>
                </div>
                <div id="Phase4">
                    <div id="Phase4_Overlay" style="width: 100%;height: 0%;">
                        <h3>4</h3>
                        <h6>20%</h6>

                    </div>
                </div>
                <div id="Phase5">
                    <div id="Phase5_Overlay" style="width: 100%;height: 0%;">
                        <h3>5</h3>
                        <h6>50%</h6>

                    </div>
                </div>
                <div id="Phase6">
                    <div id="Phase6_Overlay" style="width: 100%;height: 0%;">
                        <h3>6</h3>
                        <h6>50%</h6>

                    </div>
                </div>
                <div id="Phase7">
                    <div id="Phase7_Overlay" style="width: 100%;height: 0%;">
                        <h3>7</h3>
                        <h6>20%</h6>

                    </div>
                </div>
                <div id="Phase8">
                    <div id="Phase8_Overlay" style="width: 100%;height: 0%;">
                        <h3>8</h3>
                        <h6>30%</h6>

                    </div>
                </div>
                <div id="Phase9">
                    <div id="Phase9_Overlay" style="width: 100%;height: 0%;">
                        <h3>9</h3>
                        <h6>40%</h6>

                    </div>
                </div>
                <div id="Phase10">
                    <div id="Phase10_Overlay" style="width: 100%;height: 0%;">
                        <h3>10</h3>
                        
                        <h6>10%</h6>

                    </div>
                </div>




            </div>

            
            


            
        </section>



        {% endblock %}

        <script>
        src="{% static 'https://kit.fontawesome.com/3d9ffd68dd.js' %}" 
        crossorigin="anonymous"
        </script>
  
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://kit.fontawesome.com/3d9ffd68dd.js"
          crossorigin="anonymous"
        ></script>
        <script src="{% static 'js/script.js' %}"></script>




    </body>
    
    
    </html>