@font-face {
    font-family: 'Avantgarde';
    src: url('/static/fonts/Avantgarde/Avantgarde.woff2') format('woff2'),
         url('/static/fonts/Avantgarde/Avantgarde.woff') format('woff'),
         url('/static/fonts/Avantgarde/Avantgarde.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avantgarde', Arial, sans-serif;
}

